* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Light gray background */
}

.card {
    width: 90%;
    max-width: 470px;
    background-color: #3498db; /* Blue background */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc; /* Light turquoise */
    color: #333; /* Dark gray text */
    padding: 10px 20px;
    height: 50px;
    border-radius: 25px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc; /* Light turquoise */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 20px;
}

.weather-icon {
    width: 120px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 60px;
    font-weight: 600;
}

.weather h2 {
    font-size: 32px;
    font-weight: 500;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 40px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-right: 10px;
}

.humidity .wind {
    font-size: 24px;
    margin-top: -4px;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: #e74c3c; /* Red error message */
    display: none;
}
